@model dot_not.Models.ChallengeModel

@{
    ViewBag.title = "Challenge 1";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Challenge 1</title>
</head>
<body>
    <div>
        <h4>Challenge 1</h4>
        <hr />
        <p>The developer of this page was doing a bit of debugging</p>
        <!--Challege loaded. The flag is:->    
        <!--@{@Model.Flag}-->
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
