@using dot_not.Models
@model ChallengeViewModel

@{
    FlagFormViewModel fvm = new FlagFormViewModel();
    fvm.ChallengeID = Model.Challenge.ID;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Challenge 1</title>
</head>
<body>
    <div>
        <h4>Challenge 1</h4>
        <hr />
        <p>The developer of this page was doing a bit of debugging</p>
        <!--Challege loaded. The flag is:->
        <!--@{@Model.Challenge.Flag}-->
        {@Html.Partial("_FlagForm", fvm)}
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
