@model dot_not.Models.ChallengeModel

@{
    ViewBag.title = "Simple Challenge 1";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Simple Challenge 2</title>
</head>
<body>
    <div>
        <h4>Simple Challenge 2</h4>
        <hr />
        <p>Apparently leaving stuff in comments isn't very secure</p>
        <!--Challenge loaded the flag is:->    
        <!--@{@Model.Flag}-->
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
