@model dot_not.Models.ChallengeViewModel

@{
    ViewBag.Title = "Attempt Challenge";
}

<h2>@Html.DisplayFor(model => Model.Challenge.Title)</h2>

<div>
<hr />
    @{Html.RenderPartial("_Solve", Model);}
</div>
<p>
    @Html.ActionLink("Back to List", "Index","Home",null,null)
</p>
