@model dot_not.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2 id="page_title">Home</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Spoofing Challenges</h3>
        <ul>
            <li>@Html.ActionLink("Spoofing 1", "Challenge1", "Challenges")</li>
            <li>@Html.ActionLink("Spoofing 2", "Challenge4", "Challenges")</li>
            <li>@Html.ActionLink("Spoofing 3", "Challenge5", "Challenges")</li>
        </ul>
</ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
