@model dot_not.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2 id="page_title">Home</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Web Challenges</h3>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <ul class="challenges nav">
                @foreach (var item in Model.Challenges)
                {
                    <li>@Html.ActionLink(item.Title, "Details", "Challenges", new { id = item.ID },null)</li>
                }
            </ul>
        </div>
    </div>
<div class="row">
<div class="col-md-12">
    <h3>Mobile Challenges</h3>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="challenges nav">
          
            <li><a href="#">Mobile 1</a></li>
            <li><a href="#">Simple 1</a></li>
            <li><a href="#">Simple 1</a></li>
            <li><a href="#">Simple 1</a></li>
            <li><a href="#">Simple 1</a></li>
        </ul>
    </div>
</div>