@model dot_not.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2 id="page_title">Home</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Basic Challenges</h3>
        <ul>
            <li>@Html.ActionLink("Basic 1", "Basic1", "Challenges")</li>
            <li>@Html.ActionLink("Basic 2", "Basic2", "Challenges")</li>
        </ul>
        <h3>Spoofing Challenges</h3>
        <ul>
            <li>@Html.ActionLink("Spoofing 1", "Spoofing1", "Challenges")</li>
            <li>@Html.ActionLink("Spoofing 2", "Spoofing2", "Challenges")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
